@charset "UTF-8";

/*
$page-top: 32px + 42px + 20px + 10px;
@import "admin/spinner";
@import "admin/functions.color";
@import "admin/hit-loader";
@import "admin/hit-page";
@import "admin/hit-options";
@import "admin/hit-input";
@import "admin/hit-issues";
@import "admin/hit-window";
@import "admin/hit-edit";
@import "admin/hit-comments";
@import "admin/hit-issue";
*/
:root {
	--hit-c-black: #000;
	--hit-c-black-dark: #000;
	--hit-c-black-light: #7C7C7B;
	--hit-c-grey: #e5e5e5;
	--hit-c-grey-light: #f8f8f8;
	--hit-c-white: #fff;
	--hit-c-blue: #0073aa;
	--hit-c-red: #e3000b;
	--hit-c-green: #1aaa55;
	--hit-c-orange: #ff9c2f;

	--hit-page-top: 32px + 42px + 20px + 10px;
	--hit-padding: .8rem;
	--hit-padding-small: .4rem;
	--hit-padding-big: 1.6rem;
}

@import "admin/spinner";
@import "admin/settings";
@import "admin/loader";
@import "admin/issues";
@import "admin/issue";
@import "admin/notice";
@import "admin/page";
