#hello-issue-tracker-shadowbox,
#hello-issue-tracker {
	/*
	.mce-tinymce {
		box-shadow: none;
		border-bottom: 1px solid #ccc;

		.mce-top-part {
			border: 1px solid #ccc;

			&:before {
				display: none;
				box-shadow: none;
			}
		}

		.mce-statusbar {
			display: none;
		}

		.mce-toolbar-grp {
			background-color: transparent;
			border: none !important;
		}

		.mce-btn-group:not(:first-child) {
			border-left-color: #ccc;
			margin-left: 10px;
			padding-left: 10px;
		}
	}

	 */
}
