.hit-edit {
	padding: $padding*2;
	&__label {
		font-weight: 700;
		padding-right: $padding;
		width: 70px;
	}
	&__input {
		padding: $padding/2;
		line-height: 1;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
		width: calc(100% - 70px);
	}

	&__element {
		display: flex;
		align-items: center;
		+ .hit-edit__element {
			margin-top: $padding*2;
		}
		&--controls {
			flex-direction: row-reverse;
		}
	}

	.mce-tinymce {
		box-shadow: none;
		border-bottom: 1px solid #ccc;

		.mce-top-part {
			border: 1px solid #ccc;
		}
		.mce-statusbar {
			display: none;
		}
	}

	position: relative;
}