.hello-issue-tracker {
	.hit-page {
		margin-top: 20px;
		display: flex;
		position: relative;
		align-items: flex-start;

		&__side {
			width: 600px;
			position: sticky;
			top: $page-top;
		}

		&__main {
			width: calc(100% - 600px);
		}

		&__reset {
			position: absolute;
			right: 0;
			top: 0;
			transform: translateY(-250%);
		}
	}
}