.hit-issues {
	background-color: #fff;
	border: 1px solid var(--hit-c-gray);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	min-height: 400px;

	&__header {
		border-bottom: 1px solid var(--hit-c-gray);
		display: flex;
		padding: var(--hit-padding);
		align-items: center;
		background-color: var(--hit-c-gray-light);
	}

	&__add-issue {
		margin-left: auto !important;
	}

	&__form {
		display: flex;
	}

	&__options {
		display: flex;
	}

	&__option {
		display: flex;
		align-items: center;

		+ .hit-issues__option {
			margin-left: var(--hit-padding);
		}

		label {
			margin-right: var(--hit-padding-small);
		}

		select {
			border-radius: 3px;
			padding: var(--hit-padding-small);
			height: inherit;
		}
	}

	&__head {
		width: 100%;
		border-spacing: 0;
		border-bottom: 1px solid var(--hit-c-gray);
		background-color: var(--hit-c-gray-light);
	}

	&__list {
		max-height: calc(100vh - 300px);
		overflow: auto;
	}
}
