.hit-loader-container {
	display: block;
	position: relative;
	min-height: 300px;
}

.hit-loader {

	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	//background-color: rgba(#fff, .8);

	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		font-size: 60px;
		margin: -30px 0 0 -30px;
		@include spinner(5px solid #000);
	}

	&--small:after {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		font-size: 40px;
		margin: -20px 0 0 -20px;
		@include spinner(3px solid #000);
	}

	&--gray {
		background-color: rgba(#f1f1f1, .8);
	}

	&__error {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 350px;
		transform: translateX(-50%) translateY(-50%);
	}

	&--error {
		&:after {
			display: none;
		}

		.hit-loader__error {
			display: block;
		}
	}
}
