$side-width: 450px;

.hit-page {
	margin-top: 30px;
	display: flex;
	position: relative;
	align-items: flex-start;

	p {
		margin:0;
	}

	&__side {
		width: $side-width;
		min-width: $side-width;
		flex-basis: $side-width;
		position: sticky;
		top: var(--hit-page-top);
		margin-right: 1rem;
	}

	&__main {
		width: 100%;
	}
}
