.hit-shadowbox {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9999;

	&__close {
		border: none;
		background-color: transparent;
		padding: 0;
		position: relative;
		text-indent: -9999px;
		width: 1em;
		line-height: 100%;
		cursor: pointer;
		margin: -.2em -.2em 1em 0;
		font-size: 2rem;
		border-radius: 50%;

		&:after, &:before {
			content: '';
			width: 2px;
			height: .5em;
			background-color: currentColor;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%) rotate(45deg);
		}

		&:before {
			transform: translateY(-50%) translateX(-50%) rotate(-45deg);
		}

		opacity: .5;

		&:hover {
			opacity: 1;
		}

		&:focus {
			background-color: #e2e2e2;
			opacity: 1;
		}
	}

	&__box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #fff;
		padding: var(--hit-padding-big);
		text-align: right;
	}

	&__content {
		text-align: left;
	}

	&__shadow {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-color: rgba(#000, .5);
		cursor: pointer;
	}
}
